@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(font.css);

.bg-line-set {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
 }

 .bg-line1{
     position: absolute;
     width: 1px;
     height: 100%;
     left: calc(50% - 1px/2 - 588.5px);
     top: 0px;
     border: 1px dashed rgba(255, 255, 255, 0.08);
     box-sizing: border-box;
     transform: matrix(-1, 0, 0, 1, 0, 0);
 }

 .bg-line2{
     position: absolute;
     width: 1px;
     height: 100%;
     left: calc(50% - 1px/2 - 293.5px);
     top: 0px;
     border: 1px dashed rgba(255, 255, 255, 0.08);
     box-sizing: border-box;
     transform: matrix(-1, 0, 0, 1, 0, 0);
 }

 .bg-line3{
     position: absolute;
     width: 1px;
     height: 100%;
     left: calc(50% - 1px/2 + 1.5px);
     top: 0px;
     border: 1px dashed rgba(255, 255, 255, 0.08);
     box-sizing: border-box;
     transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg-line4{
     position: absolute;
     width: 1px;
     height: 100%;
     left: calc(50% - 1px/2 + 296.5px);
     top: 0px;
     border: 1px dashed rgba(255, 255, 255, 0.08);
     box-sizing: border-box;
     transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg-line5{
     position: absolute;
     width: 1px;
     height: 100%;
     left: calc(50% - 1px/2 + 590.5px);
     top: 0px;
     border: 1px dashed rgba(255, 255, 255, 0.08);
     box-sizing: border-box;
     transform: matrix(-1, 0, 0, 1, 0, 0);
}

.social-items{
     color: #fff;
     display: flex;
     height: 40px;
     position: absolute;
     text-align: center;
     width: 40px;
     margin-bottom: 1px;
     z-index: 2;
     top: calc(100% - 230px);
}

.font-playfair{
     font-family: 'Playfair';
}